extends layout

block content
  h1= title 
  - var results = [{"monkeyAge": 14, "monkeyName": "Chitti", "monkeyBreed": "Pug"}, {"monkeyAge": 15, "monkeyName": "Mahi", "monkeyBreed": "Tug"}, {"monkeyAge": 14, "monkeyName": "Madhu", "monkeyBreed": "Mug"}]
    div(class = 'container-fluid')
      div(class = 'row')
        each item,index in results 
          div(class="col-sm-2", onClick=`buy(${index})`) monkeyAge : #{item["monkeyAge"]} <br> monkeyName : #{item["monkeyName"]} <br> monkeyBreed: #{item["monkeyBreed"]}
           script.
            function buy(val) {
              alert(`You purchased item ${val}`)
            }