extends layout
block content
 h1(class='new_head')= title
 if (toShow == null) 
  h2 No instance to detail   
 else
  - let monkeyid = toShow._id
  - let monkeyAge = toShow.monkeyAge
  - let monkeyName = toShow.monkeyName
  - let monkeyBreed = toShow.monkeyBreed
  div
   div.row
   div(class='new_head') monkeyid is:
   div #{monkeyid}
   div.row
   div(class='new_head') monkeyAge is:
   div #{monkeyAge}
   div.row
   div(class='new_head') monkeyName is:
   div #{monkeyName}
   div.row
   div(class='new_head') monkeyBreed is:
   div #{monkeyBreed}