extends layout

block content
  div(class='container')
        h1(style="text-align: center; color: #863A6F")= title
        - var results = results
        - let destination_4 = `dispatch(\"/monkeyanimal/create\")`
        button.btn(class="btn-warning btn-sm ml-1", style="margin: 5px; width: 130px;", onclick= destination_4) Create
        div(class='container' style="text-align: center;")  
            div.row 
                each item, index in results
                    div(class='col-md')
                        div(class='card', style='width: 16rem;')
                            div(class='card-body')
                                - let destination_1 = `dispatch(\"/monkeyanimal/update?id=${item._id}\")`
                                - let destination_2 = `dispatch(\"/monkeyanimal/details?id=${item._id}\")`
                                - let destination_3 = `dispatch(\"/monkeyanimal/delete?id=${item._id}\")`
                                div(class='card-text', onclick=`buy(${index})`) monkeyAge : #{item["monkeyAge"]} <br> monkeyName : #{item["monkeyName"]} <br> monkeyBreed: #{item["monkeyBreed"]} 
                                button.btn(class="btn-warning btn-sm ml-1", style="margin: 5px; width: 130px;", onclick= destination_1) Update
                                button.btn(class="btn-warning btn-sm ml-1", style="margin: 5px; width: 130px;", onclick= destination_2) Details
                                button.btn(class="btn-warning btn-sm ml-1", style="margin: 5px; width: 130px;", onclick= destination_3) Delete
  script.
      function buy(index){
         alert("you purchased item "+(index+1))
      }
      function dispatch(path) {
            window.location.href = path;
      }